@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');


.container {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 1170px;
}

.inputText {
  background-color: transparent;
  border: 1px solid #90959e;
  font-size: 14px;
  height: 50px;
  width: 100%;
  padding: 0.375rem 0.75rem;
  box-shadow: none;
}

.title h3 {
  font-size: 40px;
  font-weight: 300;
  line-height: inherit;
  text-transform: inherit;
  margin-bottom: 0px;
}

.button {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 700;
  width: 100%;
  font-size: 14px;
  padding: 16px 25px;
  background-color: #face66 !important;
  border-color: #face66;
  color: black;
  cursor: pointer;
}

.button:hover {
  background-color: #dea520 !important;
  border-color: #333;
}

.or {
  width: 100%;
  text-align: center;
  position: relative;
  margin: 20px auto 30px;
}

.or:before {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #e0e0e0;
  width: 100%;
  left: 0px;
  top: 20px;
}

.or span {
  text-transform: uppercase;
  background-color: #fff;
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 50%;
  display: block;
  margin: auto;
  z-index: 1;
  position: relative;
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
  color: #707070;
  border: 1px solid #ddd;
}

.stories-title h1 {
  font-family: "Monoton", cursive;
  color: #fff;
  line-height: 150px;
}

.stories-title h3 {
  color: #e5bc56;
  font-family: "Playball", cursive;
  font-weight: 300;
}

.stories-title .btn {
  font-weight: 500;
  padding: 12px 30px;
  border-radius: 30px;
  color: #000;
  border-color: #e7a919;
  border: none;
  background-color: #fed169;
  background-image: linear-gradient(to right, #fed169, #d1ac47);
  font-size: 14px;
}

.stories-title .btn:hover {
  color: #000;
  border-color: #fed169;
  border: none;
  background-color: #d1ac47;
  background-image: linear-gradient(to right, #d1ac47, #fed169);
}

.item-box {
  position: relative;
  margin: 2px;
}

.item-box .tmb {
  width: 100%;
  height: 270px;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 8px;
}

.item-box .tmb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.homeStoryDescription {
  color: #cac4c4;
}

.item-box-dec .btn-link {
  font-weight: 400;
  color: #e3bb54;
  text-decoration: none;
  padding: 5px 0px;
  font-size: 14px;
}

.item-box-dec .btn-link:hover {
  color: #fff;
}

.swiper-container {
  overflow: hidden;
}

.brands-list {
  display: block;
  width: 100%;
  overflow: hidden;
  margin-bottom: 0px;
  border: 1px solid #eaeaea;
  border-bottom: none;
  border-right: none;
}

.brands-list li {
  width: 20%;
  float: left;
  border-right: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}

.brands-list li .partner-logo {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 20px;
}

.partner-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.partner-logo > img {
  transition: 0.5s;
}

.partner-logo img {
  width: 90px;
  border: 1px solid #f3f3f3;
  border-radius: 8px;
  height: 90px;
  margin: 0px auto;
  display: block;
}

@media (max-width: 639px) {
  .partner-logo img {
    width: 50px;
    height: 50px;
  }
}

.partner-logo:hover > img {
  -webkit-transform: scale(1.2);
}

/* ------testimonial ------- */
.testimonials-wrap {
  border-top: 1px solid #dadada;
}

.clents-title {
}

.clents-title h4 {
  color: #0356ba;
  margin-bottom: 40px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
}

.clents-title h3 {
  font-size: 30px;
}

.clents-title p {
  font-size: 14px;
  font-weight: 500;
}

.tastimonial {
  margin-top: 20px;
}

.single-testimonial-item {
  position: relative;
  margin: 10px;
}

.single-testimonial-item:after {
  /*content: "";
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 25px 20px 0px 0px;
  border-color: #f3f3f3 transparent transparent transparent;
  position: absolute;
  top: 100%;
  left: 30%;*/
}

.testimonial-dec {
  position: relative;
  padding: 20px 20px 20px 50px;
  box-shadow: 0px 0px 12px 0px rgb(0 0 0 / 11%);
  border-radius: 4px;
  margin-bottom: 20px;
  height: 250px;
}

/* .testimonial-dec:after {
  content: "\f10d";
  position: absolute;
  left: 20px;
  top: 15px;
  font-family: "FontAwesome";
  display: inline-block;
  font-size: 24px;
  color: #858585;
} */

.testimonial-dec:before {
  content: "";
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 10px 10px 0px;
  border-color: #fff transparent transparent;
  position: absolute;
  top: 100%;
  left: 20px;
}

.tastimonial img {
  margin-bottom: 15px;
}

.tastimonial p {
  line-height: 26px;
  font-size: 13px;
  color: #605e5e;
  font-weight: 500;
}

.tastimonial .user-img {
  width: 45px;
  height: 45px;
}

.tastimonial .user-img img {
  width: 100% !important;
  height: 100% !important;
  border-radius: 50%;
  margin: 0px auto 15px;
}

.tastimonial .media-body,
.tastimonial .media-left,
.tastimonial .media-right {
  vertical-align: middle;
}

.tastimonial .user-name {
  padding-left: 5px;
}

.tastimonial .user-name h4 {
  font-weight: 500;
  color: #000;
  font-size: 15px;
  margin-bottom: 2px;
}

.tastimonial .user-name h5 {
  font-size: 12px;
  color: #5a5a5a;
  font-weight: 400;
}

.projects-carousel .tmb img {
  transition: 0.5s;
  width: 100%;
}

.projects-carousel .tmb:hover > img {
  transform: scale(1.1, 1.1);
}

.tastimonial .btn {
  margin-top: 40px;
  font-size: 15px;
  padding: 8px 20px;
}

.inr-tastimonials {
  position: relative;
  width: 82%;
  margin: auto;
}

.testimonial-item {
  position: relative;
  padding: 40px 40px 60px;
  margin-bottom: 10px;
  /* background: url(../images/tastimonials-boxshodw.png)no-repeat; */
  background-size: 100% 100%;
}

.quote-left {
  position: relative;
  margin-left: -15px;
  margin-bottom: 15px;
}

.quote-left img {
}

.testimonial-item p {
  font-size: 13px;
  color: #605e5e;
  font-weight: 500;
  margin-bottom: 25px;
  line-height: 24px;
}

.testimonial-item h5 {
  font-size: 15px;
  color: #0a325e;
  font-weight: 600;
}

.testimonial-item h6 {
  font-size: 13px;
  color: #0a325e;
  font-weight: 400;
}

/* Footer */

footer {
  background-color: #fff;
  position: relative;
  padding-top: 55px;
  border-top: 1px solid #ddd;
}

.fotr-media-item {
  position: relative;
  margin-bottom: 25px;
}

footer h3 {
  color: #000;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 12px;
  position: relative;
}

footer h4 {
  font-size: 15px;
  color: #000;
  font-weight: 500;
  margin-bottom: 10px;
}

footer p {
  color: #474545;
  line-height: 20px;
  font-weight: 400;
  font-size: 13px;
  margin-bottom: 10px;
}

.fotr-menu li {
  margin-bottom: 6px;
}

.fotr-menu li a {
  color: #474545;
  text-transform: capitalize;
  display: block;
  padding: 0px 0px 5px;
  transition: 0.5s;
  font-weight: 400;
  display: block;
  font-size: 13px;
}

.fotr-menu li a:hover {
  transform: translate(10px, 0px);
  -o-transform: translate(10px, 0px);
  -webkit-transform: translate(10px, 0px);
  text-decoration: none;
  color: #e3bb54;
}

.hdr-social-link {
  display: flex;
  align-items: center;
}

.hdr-social-link li a {
  font-size: 16px;
  color: #9f9f9f;
  transition: 0.5s;
  display: block;
  width: 36px;
  text-align: center;
  background-color: #fff;
  line-height: 36px;
  border-radius: 50%;
}

.image-gallery-image {
  height: 500px !important;
}

.image-gallery-thumbnail-image {
  height: 70px !important;
}

@media (max-width: 767px) {
  .image-gallery-image {
    height: 330px !important;
  }

  .image-gallery-thumbnail-image {
    height: 60px !important;
  }
}

/* Cuopon Card */

.coupon-card {
  background: linear-gradient(135deg, #9f7f1ebf, #cea02f);
  color: #fff;
  text-align: center;
  padding: 20px 20px;
  border-radius: 15px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.15);
  position: relative;
}
.logo {
  width: 80px;
  border-radius: 8px;
  margin-bottom: 20px;
}
.coupon-card h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}
.coupon-card p {
  font-size: 15px;
}
.coupon-row {
  display: flex;
  align-items: center;
  margin: 16px auto;
  width: fit-content;
}
#cpnCode {
  border: 1px dashed #fff;
  padding: 10px 20px;
  border-right: 0;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}
#cpnBtn {
  border: 1px solid #fff;
  background: #fff;
  padding: 10px 20px;
  color: #25910b;
  cursor: pointer;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}
.circle1,
.circle2 {
  background: #ffffff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.circle1 {
  left: -25px;
}
.circle2 {
  right: -25px;
}

.profileTab {
  font-size: 15px;
  display: block;
  padding: 14px 0px;
  color: #6d6c6c;
  font-weight: 400;
  border-top: 1px solid #f0f0f0;
}

.profileTab:hover {
  color: #000;
  text-decoration: none;
  font-weight: 500;
}

.active{
    color: #000;
    text-decoration: none;
    font-weight: 500;
}


/* otp section */

.inputStyle {
  width: 3rem !important;
  height: 3rem;
  margin: 0 1rem;
  font-size: 2rem;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  justify-content: center;
}


.description-tab ul{
  list-style-type: initial;
}

.gallery-container .image-gallery-slide img {
  transition: transform 0.3s ease;
}

.gallery-container .image-gallery-slide img:hover {
  transform: scale(1.1); /* Zoom effect on hover */
}